<div class="menu">
    <ul class="menutabs">
        {% for menuid, menu in menu %}
            {% if is_granted(menu.role) %}
                <li class="mi">
                    <a href="#" {% if menu.active is defined %}class="current"{% endif %}>{{ menu.label|trans() }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="menupanes">
        {% for menuid, menu in menu %}
        <div id="{{ menuid }}">
            {% for sub in menu.items %}
                {% if is_granted(menu.role) %}
                    <a href="{% if sub.route %}{{ path(sub.route) }}{% else %}#{% endif %}"
                       class="smi {% if sub.active is defined %}current{% endif %}"
                       {% if sub.id is defined %}id="{{ sub.id }}"{% endif %}>
                        <span {% if sub.bgpos is defined %}style="background-position:{{ sub.bgpos }};"{% endif %}></span>
                        {{ sub.label|trans() }}
                    </a>
                    {% if not loop.last %}<div class="menudivider"></div>{% endif %}
                {% endif %}
            {% endfor %}
            {% if menuid == 'assistance' %}
                {% include "JCSGYKAdminBundle:Elements:inquiry.html.twig" %}
            {% endif %}    
        </div>
        {% endfor %}
    </div>
{#
        <div class="misub">
            <a href="{{ path(sub.route) }}" {% if sub.route == route %}class="active"{% endif %}>{{ sub.label|trans() }}</a>
        </div>
#}
</div>