<div class="menu">
    <div class="menutitle"><a href="{{ path('home') }}">{{ 'Családsegítő Admin'|trans }}</a></div>
    <div class="menuitems">
        {% for item in menu %}
            <a href="{{ path(item.route) }}" class="{% if item.active is defined %}current{% endif %}"
               {% if item.id is defined %}id="{{ item.id }}"{% endif %}>
                {{ item.label|trans() }}
            </a>
        {% endfor %}
    </div>
</div>