<div class="button-row">
    {% if buttons is not defined %}
        {% set buttons = ['close'] %}
    {% endif %}

    {% for button in buttons %}

        {# new client #}
        {% if button == 'new_client' %}
            <a href="{{ path('client_new') }}" class="button new_client"><span>{{ 'új ügyfél'|trans }}</span></a>
        {% endif %}

        {# add utility provider #}
        {% if button == 'add_utilityprovider' %}
            <a href="#" class="greybutton add_utilityprovider"><span>{{ 'új szolgáltató'|trans }}</span></a>
        {% endif %}

        {# back to view client #}
        {% if button == 'back_to_client' and client.id is defined %}
            {% if client.id %}
                <button type="reset" href="{{ path('client_view', {'id': client.id}) }}" class="greybutton back_to_view" title="{{ 'visszalépés'|trans }}">
                    <span>{{ 'mégse'|trans }}</span>
                </button>
            {% else %}
                <button type="reset" href="{{ path('clients') }}" class="close greybutton" title="{{ 'visszalépés'|trans }}">
                    <span>{{ 'mégse'|trans }}</span>
                </button>
            {% endif %}
        {% endif %}

        {# save client #}
        {% if button == 'save_client' and client.id is defined %}
            <button type="submit" href="{{ path('client_edit', {'id': client.id}) }}" class="button save_client" title="{{ 'Ügyfél mentése'|trans }}">
                <span>{{ 'mentés'|trans }}</span>
            </button>
        {% endif %}

        {# archive client #}
        {% if button == 'archive' and client.id is defined and is_granted('ROLE_ADMIN') %}
            {% if client.isArchived %}
                <button href="{{ path('client_archive', {'id': client.id}) }}" class="button archive_client" title="{{ 'Ügyfél újranyitása'|trans }}">
                    <span>{{ 'újranyitás'|trans }}</span>
                </button>
            {% else %}
                <button href="{{ path('client_archive', {'id': client.id}) }}" class="button archive_client" title="{{ 'Ügyfél archiválása'|trans }}">
                    <span>{{ 'archivál'|trans }}</span>
                </button>
            {% endif %}
        {% endif %}

        {# save archive #}
        {% if button == 'save_archive' %}
            <button type="submit" class="button save_archive" title="{{ 'Mentés'|trans }}">
                <span>{{ 'mentés'|trans }}</span>
            </button>
        {% endif %}

        {# edit client #}
        {% if button == 'edit' and client.id is defined and not client.isArchived %}
            <a href="{{ path('client_edit', {'id': client.id}) }}" class="button edit_client" title="{{ 'Ügyfél szerkesztése'|trans }}">
                <span>{{ 'szerkeszt'|trans }}</span>
            </a>
        {% endif %}

        {% if button == 'close_dialog' %}
            <button type="reset" class="close greybutton" title="{{ 'Blokk bezárása'|trans }}"><span>mégse</span></button>
        {% endif %}

        {% if button == 'close' %}
            <div class="close greybutton" title="{{ 'Blokk bezárása'|trans }}"><span>x</span></div>
        {% endif %}
    {% endfor %}
</div>
