<div class="button-row">
    {% if buttons is not defined %}
        {% set buttons = ['close'] %}
    {% endif %}
    {% if client_type is not defined %}
        {% set client_type = 'fh' %}
    {% endif %}

    {% for button in buttons %}

{# General submit #}
        {% if button.type is defined and button.type == 'submit' %}
            <button type="submit" class="button {{ button.class }}" title="{{ button.title|trans }}">
                <span>{{ button.label|trans }}</span>
            </button>
        {% endif %}

{# Address #}
        {# new address #}
        {% if button == 'new_address' and client.id and not client.isArchived %}
            <a href="#" class="greybutton new_address" title="{{ 'Új gondozási hely létrehozása'|trans }}"><span>{{ 'új gondozási hely'|trans }}</span></a>
        {% endif %}

{# Events #}
        {# new event #}
        {% if button == 'new_event' and problem.id and problem.isActive %}
            <a href="{{ path('event_new', {problem_id: problem.id}) }}" class="button new_event" title="{{ 'Új esemény létrehozása'|trans }}"><span>{{ 'új esemény'|trans }}</span></a>
        {% endif %}

        {# back to view event #}
        {% if button == 'back_to_event' and event.id is defined %}
            {% if event.id %}
                <button type="reset" href="{{ path('event_view', {'id': event.id}) }}" class="greybutton back_to_event" title="{{ 'Visszalépés'|trans }}">
                    <span>{{ 'mégse'|trans }}</span>
                </button>
            {% else %}
                <button type="reset" href="{{ path('clients') }}" class="close greybutton" title="{{ 'Visszalépés'|trans }}">
                    <span>{{ 'mégse'|trans }}</span>
                </button>
            {% endif %}
        {% endif %}

{# Problems #}
        {# new problem #}
        {% if button == 'new_problem' and client.id and not client.isArchived %}
            <a href="{{ path('problem_new', {client_id: client.id}) }}" class="button new_problem" title="{{ 'Új probléma létrehozása'|trans }}"><span>{{ 'új probléma'|trans }}</span></a>
        {% endif %}

        {# back to view problem #}
        {% if button == 'back_to_problem' and problem.id is defined %}
            {% if problem.id %}
                <button type="reset" href="{{ path('problem_view', {'id': problem.id}) }}" class="greybutton back_to_problem" title="{{ 'Visszalépés'|trans }}">
                    <span>{{ 'mégse'|trans }}</span>
                </button>
            {% else %}
                <button type="reset" href="{{ path('clients') }}" class="close greybutton" title="{{ 'Visszalépés'|trans }}">
                    <span>{{ 'mégse'|trans }}</span>
                </button>
            {% endif %}
        {% endif %}

        {# add debt #}
        {% if button == 'add_debt' %}
            <a href="#" class="greybutton add_debt" title="{{ 'Új hátralék hozzáadása'| trans }}"><span>{{ 'új hátralék'|trans }}</span></a>
        {% endif %}

{# Clients #}
        {# new client #}
        {% if button == 'new_client' %}
            <a href="{{ path('client_new', {'client_type': client_type|ctmap}) }}" class="button new_client" title="{{ 'Új ügyfél létrehozása'|trans }}"><span>{{ 'új ügyfél'|trans }}</span></a>
        {% endif %}

        {# add utility provider #}
        {% if button == 'add_utilityprovider' %}
            <a href="#" class="greybutton add_utilityprovider"><span>{{ 'új szolgáltató'|trans }}</span></a>
        {% endif %}

        {# back to view client #}
        {% if button == 'back_to_client' and client.id is defined %}
            {% if client.id %}
                <button type="reset" href="{{ path('client_view', {'id': client.id}) }}" class="greybutton back_to_view" title="{{ 'Visszalépés'|trans }}">
                    <span>{{ 'mégse'|trans }}</span>
                </button>
            {% else %}
                <button type="reset" href="{{ path('clients', {'client_type': client_type|ctmap}) }}" class="close greybutton" title="{{ 'Visszalépés'|trans }}">
                    <span>{{ 'mégse'|trans }}</span>
                </button>
            {% endif %}
        {% endif %}

        {% if button == 'close_dialog' %}
            <button type="reset" class="close greybutton" title="{{ 'Blokk bezárása'|trans }}"><span>mégse</span></button>
        {% endif %}

        {% if button == 'close' %}
            <div class="close greybutton" title="{{ 'Blokk bezárása'|trans }}"><span>x</span></div>
        {% endif %}

        {% if button == 'reset' %}
            <button type="reset" class="close greybutton" title="{{ 'Mégse'|trans }}"><span>mégse</span></button>
        {% endif %}
    {% endfor %}
</div>
