{# Note #}
<div class="client-sub">
    {% if form.note is defined %}
        {{ form_label(form.note) }}
    {% elseif form.description is defined %}
        {{ form_label(form.description) }}
    {% endif %}
</div>
<div class="edit-note">
    {% if form.note is defined %}
        {{ form_errors(form.note) }}
        {{ form_widget(form.note) }}
    {% elseif form.description is defined %}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    {% endif %}
</div>
