{# Other data #}
<div class="client-sub">{{ 'egyéb adatok'|trans }}</div>
<div>
    <table class="client-edit" cellspacing="0" border="0">
        {% for param in cgrps() %}
        {% set p = 'param_' ~ param.id %}
        <tr>
            <th>{{ form_label(form[p]) }}:</th>
            <td>
                {{ form_errors(form[p]) }}
                {{ form_widget(form[p]) }}
            </td>
        </tr>
        {% endfor %}

        <tr>
            <th>{{ form_label(form.family_size) }}:</th>
            <td>
                <div class="short">
                {{ form_errors(form.family_size) }}
                {{ form_widget(form.family_size) }}
                </div>
            </td>
        </tr>
    </table>
</div>