{# Parents #}
<div class="client-sub togglable">{{ 'Szülők adatai'|trans }}</div>
<div>
    {% for parent_type, client in parents %}
    <table class="client" cellspacing="0" border="0">
        <tr>
            <th class="parent">{{ parent_types(parent_type) }}:</th>
            <td class="parent" colspan="3">{{ fname(client.firstname, client.lastname, client.title) }}</td>
        </tr>
        <tr>
            <th>{{ 'Szül. név'|trans }}:</th>
            <td colspan="3">{{ fname(client.birthFirstname, client.birthLastname, client.birthTitle) }}</td>
        </tr>
        <tr>
            <th>{{ 'Szül. hely, idő'|trans }}:</th>
            <td>{% if client.birthPlace %}{{ client.birthPlace }}, {% endif %}{{ client.birthDate|fdate }}</td>
            <th>{{ 'Nem'|trans }}:</th>
            <td>{{ client.gender|gender }}</td>
        </tr>
        <tr>
            <th>{{ 'Anyja neve'|trans }}:</th>
            <td colspan="3">{{ fname(client.motherFirstname, client.motherLastname, client.motherTitle) }}</td>
        </tr>
        <tr>
            <th>{{ 'Állampolgárság'|trans }}:</th>
            <td colspan="3">{{ param(client.citizenship) }} ({{ param(client.citizenshipStatus) }})</td>
        </tr>

    {# Kapcsolat #}
        {% if client.mobile or client.phone %}
        <tr>
            {% if client.mobile %}
            <th>{{ 'Mobil'|trans }}:</th>
            <td {% if not client.phone %}colspan="3"{% endif %}>{{ client.mobile|fphone }}</td>
            {% endif %}
            {% if client.phone %}
            <th>{{ 'Telefon'|trans }}:</th>
            <td>{{ client.phone|fphone }}</td>
            {% endif %}
        </tr>
        {% endif %}
        {% if client.email or client.fax %}
        <tr>
            {% if client.email %}
            <th>{{ 'Email'|trans }}:</th>
            <td {% if not client.fax %}colspan="3"{% endif %}><a href="mailto:{{ fname(client.firstname, client.lastname, client.title) }} &lt;{{ client.email }}&gt;">{{ client.email }}</a></td>
            {% endif %}
            {% if client.fax %}
            <th>{{ 'Fax'|trans }}:</th>
            <td>{{ client.fax|fphone }}</td>
            {% endif %}
        </tr>
        {% endif %}
        <tr>
            <th>{{ 'Lakóhely'|trans }}:</th>
            <td colspan="3">{{ faddr(client.country, client.zipCode, client.city, client.street, client.streetType, client.streetNumber, client.flatNumber) }}</td>
        </tr>
        {% set locationAddress = faddr(client.locationCountry, client.locationZipCode, client.locationCity, client.locationStreet, client.locationStreetType, client.locationStreetNumber, client.locationFlatNumber) %}
        {% if locationAddress|trim %}
        <tr>
            <th>{{ 'Tartózkodási hely'|trans }}:</th>
            <td colspan="3">{{ locationAddress }}</td>
        </tr>
        {% endif %}
    </table><br>
    {% endfor %}
</div>