{# Parents #}
<div class="client-sub togglable">{{ 'Szülők adatai'|trans }}</div>
<div>
    {% for relation in parents %}
        {% set parent=relation.parent() %}
    <table class="client" cellspacing="0" border="0">
        <tr>
            <th class="parent">{{ rel_types(relation.type) }}:</th>
            <td class="parent" colspan="2">
                {{ fname(parent.firstname, parent.lastname, parent.title) }}
            </td>
            <td class="parent">
                {% if edit is defined and edit %}
                <div class="button-row" style="margin: -4px -6px -6px;">
                    <a href="{{ path('parent_edit', {'id': client.id, 'type': relation.type})}}" class="greybutton edit_parent"><span>{{ 'szerkeszt'|trans }}</span></a>
                </div>
                <div class="clear"></div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ 'Szül. név'|trans }}:</th>
            <td colspan="3">{{ fname(parent.birthFirstname, parent.birthLastname, parent.birthTitle) }}</td>
        </tr>
        <tr>
            <th>{{ 'Szül. hely, idő'|trans }}:</th>
            <td colspan="2">{% if parent.birthPlace %}{{ parent.birthPlace }}, {% endif %}{{ parent.birthDate|fdate }}</td>
            <td><div class="short floatright">{{ parent.gender|gender }}</div></td>
        </tr>
        <tr>
            <th>{{ 'Anyja neve'|trans }}:</th>
            <td colspan="3">{{ fname(parent.motherFirstname, parent.motherLastname, parent.motherTitle) }}</td>
        </tr>
        <tr>
            <th>{{ 'Állampolgárság'|trans }}:</th>
            <td colspan="3">{{ param(parent.citizenship) }} ({{ param(parent.citizenshipStatus) }})</td>
        </tr>

    {# Kapcsolat #}
        {% if parent.mobile or parent.phone %}
        <tr>
            {% if parent.mobile %}
            <th>{{ 'Mobil'|trans }}:</th>
            <td {% if not parent.phone %}colspan="3"{% endif %}>{{ parent.mobile|fphone }}</td>
            {% endif %}
            {% if parent.phone %}
            <th>{{ 'Telefon'|trans }}:</th>
            <td {% if not parent.mobile %}colspan="3"{% endif %}>{{ parent.phone|fphone }}</td>
            {% endif %}
        </tr>
        {% endif %}
        {% if parent.email or parent.fax %}
        <tr>
            {% if parent.email %}
            <th>{{ 'Email'|trans }}:</th>
            <td {% if not parent.fax %}colspan="3"{% endif %}><a href="mailto:{{ fname(parent.firstname, parent.lastname, parent.title) }} &lt;{{ parent.email }}&gt;">{{ parent.email }}</a></td>
            {% endif %}
            {% if parent.fax %}
            <th>{{ 'Fax'|trans }}:</th>
            <td {% if not parent.email %}colspan="3"{% endif %}>{{ parent.fax|fphone }}</td>
            {% endif %}
        </tr>
        {% endif %}
        <tr>
            <th>{{ 'Lakóhely'|trans }}:</th>
            <td colspan="3">{{ faddr(parent.country, parent.zipCode, parent.city, parent.street, parent.streetType, parent.streetNumber, parent.flatNumber) }}</td>
        </tr>
        {% set locationAddress = faddr(parent.locationCountry, parent.locationZipCode, parent.locationCity, parent.locationStreet, parent.locationStreetType, parent.locationStreetNumber, parent.locationFlatNumber) %}
        {% if locationAddress|trim %}
        <tr>
            <th>{{ 'Tartózkodási hely'|trans }}:</th>
            <td colspan="3">{{ locationAddress }}</td>
        </tr>
        {% endif %}
    </table><br>
    {% endfor %}
    {% if edit is defined and edit %}
    <div class="button-row">
    {% for rel_type, rel_label in new_relations %}
        <a href="{{ path('parent_edit', {'id': client.id, 'type': rel_type}) }}" class="greybutton edit_parent"><span>{{ '{type} hozzáadása'|trans({'{type}': rel_label}) }}</span></a>
    {% endfor %}
    </div>
    <div class="clear"></div>
    {% endif %}
</div>