{# Parents #}
<div class="client-sub togglable">{{ 'Hozzátartozók adatai'|trans }}</div>
<div>
    {% for relation in relatives %}
        {% set relative=relation.parent() %}
    <table class="client" cellspacing="0" border="0">
        <tr>
            <th class="parent">{{ rel_types(relation.type) }}:</th>
            <td class="parent" colspan="2">
                {{ fname(relative.firstname, relative.lastname, relative.title) }}
            </td>
            <td class="parent">
                {% if edit is defined and edit %}
                <div class="button-row" style="margin: -4px -6px -6px;">
                    <a href="{{ path('relative_edit', {'id': client.id, 'relation_id': relation.id})}}" class="greybutton edit_parent"><span>{{ 'szerkeszt'|trans }}</span></a>
                </div>
                <div class="clear"></div>
                {% endif %}
            </td>
        </tr>
        {% if relative.birthFirstname or relative.birthLastname %}
        <tr>
            <th>{{ 'Szül. név'|trans }}:</th>
            <td colspan="3">{{ fname(relative.birthFirstname, relative.birthLastname, relative.birthTitle) }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>{{ 'Szül. hely, idő'|trans }}:</th>
            <td colspan="2">{% if relative.birthPlace %}{{ relative.birthPlace }}, {% endif %}{{ relative.birthDate|fdate }}</td>
            <td><div class="short floatright">{{ relative.gender|gender }}</div></td>
        </tr>
        {% if relative.motherFirstname or relative.motherLastname %}
        <tr>
            <th>{{ 'Anyja neve'|trans }}:</th>
            <td colspan="3">{{ fname(relative.motherFirstname, relative.motherLastname, relative.motherTitle) }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>{{ 'Állampolgárság'|trans }}:</th>
            <td colspan="3">{{ param(relative.citizenship) }} ({{ param(relative.citizenshipStatus) }})</td>
        </tr>

    {# Kapcsolat #}
        {% if relative.mobile or relative.phone %}
        <tr>
            {% if relative.mobile %}
            <th>{{ 'Mobil'|trans }}:</th>
            <td {% if not relative.phone %}colspan="3"{% endif %}>{{ relative.mobile|fphone }}</td>
            {% endif %}
            {% if relative.phone %}
            <th>{{ 'Telefon'|trans }}:</th>
            <td {% if not relative.mobile %}colspan="3"{% endif %}>{{ relative.phone|fphone }}</td>
            {% endif %}
        </tr>
        {% endif %}
        {% if relative.email or relative.fax %}
        <tr>
            {% if relative.email %}
            <th>{{ 'Email'|trans }}:</th>
            <td {% if not relative.fax %}colspan="3"{% endif %}><a href="mailto:{{ fname(relative.firstname, relative.lastname, relative.title) }} &lt;{{ relative.email }}&gt;">{{ relative.email }}</a></td>
            {% endif %}
            {% if relative.fax %}
            <th>{{ 'Fax'|trans }}:</th>
            <td {% if not relative.email %}colspan="3"{% endif %}>{{ relative.fax|fphone }}</td>
            {% endif %}
        </tr>
        {% endif %}
        {% set address = faddr(relative.country, relative.zipCode, relative.city, relative.street, relative.streetType, relative.streetNumber, relative.flatNumber) %}
        {% if address|trim %}
        <tr>
            <th>{{ 'Lakóhely'|trans }}:</th>
            <td colspan="3">{{ address }}</td>
        </tr>
        {% endif %}
        {% set locationAddress = faddr(relative.locationCountry, relative.locationZipCode, relative.locationCity, relative.locationStreet, relative.locationStreetType, relative.locationStreetNumber, relative.locationFlatNumber) %}
        {% if locationAddress|trim %}
        <tr>
            <th>{{ 'Tartózkodási hely'|trans }}:</th>
            <td colspan="3">{{ locationAddress }}</td>
        </tr>
        {% endif %}
    </table>
    {% if relative.note is defined and relative.note %}
        <div class="client-comment">
            {{ relative.note|nl2br }}
        </div>
    {% endif %}
    <br>
    {% endfor %}
    {% if edit is defined and edit %}
    <div class="button-row">
        <a href="{{ path('relative_edit', {'id': client.id, 'relation_id': 'new'}) }}" class="greybutton edit_parent"><span>{{ 'Hozzátartozó hozzáadása'|trans }}</span></a>
    </div>
    <div class="clear"></div>
    {% endif %}
</div>
<br>