{# Tags #}
<div class="client-sub togglable">{{ 'előzmények'|trans }}</div>
<div>
    <table class="client" cellspacing="0" border="0">
        <tr>
            <th>{{ 'Létrehozta'|trans }}:</th>
            <td>{{ fname(item.getCreator.firstname, item.getCreator.lastname) }}</td>
            <td>({{ fdatetime(item.createdAt) }})</td>
        </tr>
        <tr>
            <th>{{ 'Módosította'|trans }}:</th>
            <td>{{ fname(item.getModifier.firstname, item.getModifier.lastname) }}</td>
            <td>({{ fdatetime(item.modifiedAt) }})</td>
        </tr>
    </table>
</div>