{# Tags #}
<div class="client-sub {% if notoggle is not defined %}togglable{% endif %}">{{ 'előzmények'|trans }}</div>
<div>
    <table class="client" cellspacing="0" border="0">
        {% if logs is defined %}
            {% for log in logs %}
            <tr>
                <td>{{ log.createdAt|fdate('sdt') }}</td>
                <td>{{ fname(log.user.firstname, log.user.lastname) }}</td>
                <td>{{ log_event(log.event) }}</td>
                <td>{{ log_data(log.data) }}</td>
            </tr>
            {% endfor %}
        {% else %}
            {% if item.creator is defined and item.creator %}
            <tr>
                <th>{{ 'Létrehozta'|trans }}:</th>
                <td>{{ fname(item.creator.firstname, item.creator.lastname) }}</td>
                <td>({{ item.createdAt|fdate('dt') }})</td>
            </tr>
            {% endif %}
            {% if item.modifiedAt is defined and item.modifiedAt and item.modifiedAt != item.createdAt %}
            <tr>
                <th>{{ 'Módosította'|trans }}:</th>
                <td>{{ fname(item.modifier.firstname, item.modifier.lastname) }}</td>
                <td>({{ item.modifiedAt|fdate('dt') }})</td>
            </tr>
            {% endif %}
    {% endif %}
    </table>
</div>