{% form_theme form 'JCSGYKAdminBundle:Form:fields.html.twig' %}

{% if client.id %}
    <form action="{{ path('client_edit', {'id': client.id}) }}" id="client_edit" novalidate method="post" {{ form_enctype(form) }}>
{% else %}
    <form action="{{ path('client_new', {'client_type': client_type|ctmap}) }}" id="client_edit" novalidate method="post" {{ form_enctype(form) }}>
{% endif %}
    {{ form_errors(form) }}

{% include "JCSGYKAdminBundle:Client:_edit_personal_data.html.twig" %}

{% include "JCSGYKAdminBundle:Client:_edit_addresses.html.twig" %}

{# catering block #}
{% if client.type == 4 %}
    {% include "JCSGYKAdminBundle:Client:_edit_catering.html.twig" %}
{% endif %}

{% if client.type == 2 %} {# (is_granted('ROLE_FAMILY_HELP') or is_granted('ROLE_CHILD_WELFARE')) and  #}
    {% if client.id %}
    <div id="parent_container" data-url="{{ path('client_parents', {'id': client.id}) }}">
        {% include "JCSGYKAdminBundle:Client:_parents.html.twig" with {'edit': true} %}
    </div>
    {% else %}
        <div class="client-sub togglable">{{ 'Szülők adatai'|trans }}</div>
        <div class="noinfo">
            A szülők adatait, az ügyfél létrehozása után tudja megadni.
        </div>
    {% endif %}
{% endif %}

<div class="problem_container" {% if client.id %}data-url="{{ path('client_problems', {id: client.id}) }}"{% endif %}>
    {% include "JCSGYKAdminBundle:Client:_problems.html.twig" with {notoggle: true} %}
</div>

{#{% if is_granted('ROLE_FAMILY_HELP') or is_granted('ROLE_CHILD_WELFARE') %}#}
    {% include "JCSGYKAdminBundle:Client:_edit_ids.html.twig" %}
    {% include "JCSGYKAdminBundle:Client:_edit_other_data.html.twig" %}
{#{% endif %}#}

{% include "JCSGYKAdminBundle:Client:_edit_note.html.twig" with {item: client} %}

{% if client.creator %}
    {% include "JCSGYKAdminBundle:Client:_tags.html.twig" with {item: client, notoggle:true} %}
{% endif %}

<div class="toppad10">
    {% include "JCSGYKAdminBundle:Client:_buttons.html.twig" with {buttons: ['back_to_client', {type:'submit', class:'save_client', title:'Ügyfél mentése', label:'mentés'}]} %}
    <div class="clear"></div>
</div>

{{ form_widget(form._token) }}
</form>
<br>

{% include "JCSGYKAdminBundle:Elements:inflash.html.twig" %}