{% if clients %}
    <table class="search-results" cellspacing="0" border="0">
    <thead>
        <th>{{ 'ÜSZ.'|trans }}</th>
        <th>{{ 'Név'|trans }}</th>
        <th>{{ 'Anyja neve'|trans }}</th>
        <th>{{ 'Cím'|trans }}</th>
    </thead>
    <tbody class="walkable">
        {% for p in clients %}
        <tr data-userid="{{ p.id }}" tabindex="{{ loop.index + 99 }}" {% if loop.first %}class="cursor"{% endif %}>
            <td>
                <a name="r{{ p.id }}"></a>
                {{ p|casenum }}
            </td>
            <td>
                {% if p.title %}{{ p.title }}{% endif %}
                {{ p.lastname }} {{ p.firstname }}
            </td>
            <td>
                {{ p.mother_lastname }} {{ p.mother_firstname }}
            </td>
            <td>
                {{ p.zip_code }} {{ p.city }} {{ p.street }} {{ p.street_type }} {{ p.street_number }}
                {% if p.flat_number %}({{ p.flat_number }}){% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% if resnum == 100 %}
        <br><p>{{ 'További találatok vannak, kérem szűkítse a keresési feltételeket!'|trans }}</p>
    {% endif %}

{% else %}
    <div class="nothing-found">
    {{ 'Nincs találat'|trans }}
    </div>
{% endif %}
{% if time %}
    <div class="search-footer">{{ 'A keresés %time% ezredmásodercig tartott'|trans({'%time%': time}) }}.<br>
    {% if app.environment == 'dev' %}{{ sql }}{% endif %}
    </div>
{% endif %}
<br>
<br>
<br>

