{# Visit tasks #}
<div class="client-sub">{{ 'megkeresések (%db% db)'|trans({'%db%': tasks|length}) }}</div>
<div>
    {% if tasks is defined and tasks|length %}
        <table id="tasks-visits" class="task-list" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>{{ '#'|trans }}</th>
                    <th>{{ 'ÜSZ'|trans }}</th>
                    <th>{{ 'Név'|trans }}</th>
                    <th>{{ 'Dátum'|trans }}</th>
                    <th>{{ 'Státus'|trans }}</th>
                </tr>
            </thead>
            <tbody class="walkable">
            {% for task in tasks %}
            <tr data-taskid="{{ task.id }}" data-url="{{ path('task_start', {'id': task.id}) }}" tabindex="{{ loop.index + 100 }}">
                <td>{{ tasks|length - loop.index + 1 }}</td>
                <td>{{ task.client|casenum }}</td>
                <td><strong>{{ fname(task.client.firstname, task.client.lastname, task.client.title) }}</strong></td>
                <td>{{ task.createdAt|fdate('osdt') }}</td>
                <td>{% if task_status[task.status] is defined %}{{ task_status[task.status]|trans }}{% else %}{{ task.status }}{% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="noinfo">{{ 'Nincsen megjeleníthető megkeresés'|trans }}</div>
    {% endif %}
</div>