{# Home Help Fileds #}
<div class="client-sub first-sub togglable">{{ 'gondozás'|trans }}</div>
<div class="toppad">
    {% render(controller('JCSGYKAdminBundle:Menu:homehelp', { 'client': client })) %}
    <div class="clear"></div>
    {% if not homehelp or not homehelp.isActive %}
        <div class="catering-inactive">
            Szüneteltetve
        </div>
    {% else %}
    <div>
        <table class="client" cellspacing="0" border="0">
            <tr>
                <th>{{ 'Klub'|trans }}:</th>
                <td colspan="3">{% if homehelp.club %}{{ homehelp.club.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'Gondozó'|trans }}:</th>
                <td colspan="3">{{ param(homehelp.socialWorker) }}</td>
            </tr>
            <tr>
                <th>{{ 'Jövedelem'|trans }}:</th>
                <td colspan="3">{{ homehelp.income|fcurr }}</td>
            </tr>
            {% if homehelp.discountIsActive %}
            <tr>
                <th>{{ 'Mérséklés'|trans }}:</th>
                <td colspan="3">
                    {{ homehelp.discount }}%
                    {% if homehelp.discountFrom and homehelp.discountTo %}
                        ({{ homehelp.discountFrom|fdate }} - {{ homehelp.discountTo|fdate }})
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ 'Egyenleg'|trans }}:</th>
                <td colspan="3">
                    {% if homehelp.balance > 0 %}
                        <span style="color:red;">{{ homehelp.balance|fcurr }} tartozás</span>
                    {% endif %}
                    {% if homehelp.balance < 0 %}
                        <span>{{ homehelp.balance|fcurr }} jóváírás</span>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    {% endif %}
</div>