{# Client catering #}

{# if all went well, we just need to close the popup #}
{% if success is defined and success %}
    {% include "JCSGYKAdminBundle:Elements:inflash.html.twig" %}
{% else %}
    <div class="modal-middle">
        <h1 class="client center">{{ club_type_label|trans|capitalize }}</h1>

        <form id="catering_form" class="templateform" action="{{ path('client_homehelp_edit', {'id': client.id}) }}" method="post" novalidate {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <table class="client" cellspacing="0" border="0">
            <tr>
                <th>{{ 'Név'|trans }}:</th>
                <td>{{ fname(client.firstname, client.lastname, client.title) }}</td>
            </tr>
            <tr>
                <th>{{ client.type|caselabel }}:</th>
                <td>{{ client.caseLabel}}</td>
            </tr>
        </table>

        <div id="catering-fields">
            {% include "JCSGYKAdminBundle:Homehelp:_edit_homehelp.html.twig" %}
        </div>

        <div class="toppad10 center">
            <button title="{{ 'Visszalépés'|trans }}" class="close greybutton" type="reset"><span>{{ 'mégse'|trans }}</span></button>
            <button type="submit" class="button save-catering" name="save-catering" value="save"><span>{{ 'mentés'|trans }}</span></button>
        </div>

        {{ form_widget(form._token) }}
        </form>
        <script type="text/javascript">
            var clubs_type_list = {{ clubs_type_list|raw }};
        </script>
        {% include "JCSGYKAdminBundle:Elements:inflash.html.twig" %}
    </div>
{% endif %}