{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block content %}
    <br>
    <div id="settings-menu" class="settings">
        <h1 class="client">{{ 'Beállítások'|trans }}</h1>
        {% render(controller('JCSGYKAdminBundle:Menu:settings')) %}

        {% if is_granted(['ROLE_ADMIN']) %}
            <br>
            <h1 class="client">{{ 'Admin beállítások'|trans }}</h1>
            {% render(controller('JCSGYKAdminBundle:Menu:adminSettings')) %}

            {% if is_granted(['ROLE_CATERING']) %}
                <br>
                <h1 class="client">{{ 'Étkeztetés'|trans }}</h1>
                {% render(controller('JCSGYKAdminBundle:Menu:cateringSettings')) %}
                <br>
                <h1 class="client">{{ 'Gondozás'|trans }}</h1>
                {% render(controller('JCSGYKAdminBundle:Menu:homehelpSettings')) %}
                {% render(controller('JCSGYKAdminBundle:Menu:VisitsSettings')) %}
            {% endif %}
        {% else %}
            {% if is_granted(['ROLE_CATERING']) %}
                <br>
                <h1 class="client">{{ 'Látogatások'|trans }}</h1>
                {% render(controller('JCSGYKAdminBundle:Menu:VisitsSettings')) %}
            {% endif %}
        {% endif %}
    </div>
    <div id="settings-content">
        {% block settings_content %}{% endblock %}
    </div>

{% endblock %}