{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}
{% form_theme form 'JCSGYKAdminBundle:Form:fields.html.twig' %}

{% block settings_content %}
<h1>{{ 'Jelszó módosítás'|trans }}</h1>

<div class="settings-password">
    <div class="rightpad fullheight nocollapse">
        <div class="info">
            <p>{{ 'Itt módosíthatja belépési jelszavát.'|trans }}</p>
            <p>{{ 'Először a jelenlegi jelszavát adja meg, alatta pedig az újat, egymásután kétszer!'|trans }}</p>
        </div>
        <form action="{{ path('settings') }}" {{ form_enctype(form) }} novalidate method="POST" class="fos_user_change_password">
            <table class="client-edit" cellspacing="0" border="0">
            <tr>
                <th>{{ form_label(form.current_password) }}</th>
                <td>
                    {{ form_errors(form.current_password) }}
                    {{ form_widget(form.current_password) }}
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.new.first) }}</th>
                <td>
                    {{ form_errors(form.new.first) }}
                    {{ form_widget(form.new.first) }}
                </td>
            </tr>
            <tr>
                <th>{{ form_label(form.new.second) }}</th>
                <td>
                    {{ form_errors(form.new.second) }}
                    {{ form_widget(form.new.second) }}
                </td>
            </tr>
            </table>

            {{ form_widget(form) }}
            <div>
                <br>
                {% include "JCSGYKAdminBundle:Client:_buttons.html.twig" with {buttons: ['reset', {type:'submit', class:'change_password', title:'Jelszó megváltoztatása', label:'Jelszó megváltoztatása'}] } %}
            </div>
        </form>
    </div>
</div>
{% endblock %}