{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}
<h1>{{ 'Jelszó módosítás'|trans }}</h1>

<div class="adminblock" id="userlist">
    <div class="rightpad fullheight nocollapse">
        <form id="editform" class="editform" action="{{ path('settings') }}" method="post" novalidate {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            <div>{{ form_errors(form.plainPassword.first) }}{{ form_label(form.plainPassword.first) }}{{ form_widget(form.plainPassword.first) }}</div>
            <div>{{ form_errors(form.plainPassword.second) }}{{ form_label(form.plainPassword.second) }}{{ form_widget(form.plainPassword.second) }}</div>
            {{ form_widget(form._token) }}
            <div class="clear"></div>
            <div class="formbuttons left">
                <button data-url="{{ path('admin_users') }}" type="reset" class="cancel greybutton"><span>{{ 'mégse'|trans }}</span></button>
                <button type="submit" class="usersave button" name="usersave" value="save"><span>{{ 'mentés'|trans }}</span></button>
            </div>
        </form>

    </div>
</div>
{% endblock %}