{# Events #}
<div class="client-sub {% if notoggle is not defined %}togglable{% endif %}">{{ 'események'|trans }}</div>
<div>
    {% if problem.getEvents|length %}
    <table id="event-list" class="client problem-list event-list" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>Dátum</th>
                <th>Esemény</th>
            </tr>
        </thead>
        <tbody class="walkable">
        {% for event in problem.getEvents %}
        <tr data-eventid="{{ event.id }}" tabindex="{{ loop.index + 300 }}" {% if loop.first %}class="cursor"{% endif %}>
            <td>{{ event.eventDate|fdate('sd') }}</td>
            <td>{{ event.description|nl2br }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="noinfo">{{ 'Nincsen megjeleníthető esemény'|trans }}</div>
    {% endif %}

</div>