{% form_theme form 'JCSGYKAdminBundle:Form:fields.html.twig' %}

<form action="{{ path('problem_edit', {client_id: client.id, id: problem.id}) }}" id="problem_edit" novalidate method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

<table class="client caseowner" cellspacing="0" border="0">
    <tr>
        <th>{{ form_label(form.assignee) }}:</th>
        <td>{{ form_errors(form.assignee) }}{{ form_widget(form.assignee) }}</td>
    </tr>
</table>

<div class="client-sub first-sub">{{ 'probléma'|trans }}</div>
<div>
    <table class="client-edit" cellspacing="0" border="0">
        <tr>
            <th>{{ form_label(form.title) }}:</th>
            <td>{{ form_errors(form.title) }}{{ form_widget(form.title) }}</td>
            <th>{{ 'Állapot'|trans }}:</th>
            <td valign="middle">
                <div class="bottompad4">
                {% if problem.isActive %}{{ 'nyitott'|trans }}{% else %}{{ 'lezárt'|trans }}{% endif %}
                </div>
            </td>

        </tr>
        <tr>
            <th>{{ form_label(form.type) }}:</th>
            <td colspan="3">{{ form_errors(form.type) }}{{ form_widget(form.type) }}</td>
        </tr>
        {% if problem.attachment %}
            <tr>
                <th>{{ 'Csatolt dok.'|trans }}:</th>
                <td colspan="3">{{ problem.attachment }}</td>
            </tr>
        {% endif %}
    </table>
</div>
{% include "JCSGYKAdminBundle:Client:_edit_note.html.twig" with {item: problem} %}
{% include "JCSGYKAdminBundle:Problem:_edit_debt.html.twig" %}

{% include "JCSGYKAdminBundle:Problem:_events.html.twig" with {notoggle: true} %}

{% if problem.creator %}
    {% include "JCSGYKAdminBundle:Client:_tags.html.twig" with {item: problem, notoggle:true} %}
{% endif %}

<div class="toppad10">
    {% include "JCSGYKAdminBundle:Client:_buttons.html.twig" with {'buttons': ['back_to_problem', 'save_problem']} %}
    <div class="clear"></div>
</div>

{{ form_widget(form._token) }}
</form>
<br>

{% include "JCSGYKAdminBundle:Elements:inflash.html.twig" %}