<div id="problem-id" data-problemid="{{ problem.id }}"></div>

{% render(controller('JCSGYKAdminBundle:Menu:problem', { 'problem': problem })) %}

{% if not problem.isActive %}
<div class="archived bottompad25">Lezárt probléma, csak olvasható!</div>
{% else %}
<h1 class="client">&nbsp;</h1>
{% endif %}

<table class="client caseowner" cellspacing="0" border="0">
    <tr>
        <th>{{ 'Felelős'|trans }}:</th>
        <td>{% if problem.assignee.firstname is defined %}{{ fname(problem.assignee.firstname, problem.assignee.lastname) }}{% endif %}</td>
    </tr>
</table>
<div class="client-sub first-sub togglable">{{ 'probléma'|trans }}</div>
<div>
    <table class="client" cellspacing="0" border="0">
        <tr>
            <th>{{ 'Probléma'|trans }}:</th>
            <td>{{ problem.title }}</td>
            <th>{{ 'Állapot'|trans }}:</th>
            <td>{% if problem.isActive %}{{ 'nyitott'|trans }}{% else %}{{ 'lezárt'|trans }}{% endif %}</td>
        </tr>
        <tr>
            <th>{{ 'Jelleg'|trans }}:</th>
            <td colspan="3">{{ param(problem.type) }}</td>
        </tr>
        {% if problem.attachment %}
            <tr>
                <th>{{ 'Csatolt dok.'|trans }}:</th>
                <td colspan="3">{{ problem.attachment }}</td>
            </tr>
        {% endif %}
    </table>
</div>
{% include "JCSGYKAdminBundle:Client:_note.html.twig" with {item: problem} %}
{% include "JCSGYKAdminBundle:Problem:_debt.html.twig" %}

<div class="event_container" data-url="{{ path('problem_events', {id: problem.id}) }}">
    {% include "JCSGYKAdminBundle:Problem:_events.html.twig" %}
</div>

{% include "JCSGYKAdminBundle:Client:_tags.html.twig" with {item: problem} %}
{% include "JCSGYKAdminBundle:Problem:_close.html.twig" %}

{% include "JCSGYKAdminBundle:Elements:inflash.html.twig" %}