{# Delete Problem #}

{# if all went well, we just need to close the popup #}
{% if success is defined and success %}
    {% include "JCSGYKAdminBundle:Elements:inflash.html.twig" %}
{% else %}
    {% form_theme form 'JCSGYKAdminBundle:Form:fields.html.twig' %}
    <form action="{{ path('problem_agreement', {'id': problem.id}) }}" id="problem_agreement_form" method="post" {{ form_enctype(form) }}>
        <h1 class="client">
            {% if operation %}{{ 'Megállapodás rögzítése'|trans }}{% else %}{{ 'Megállapodás törlése'|trans }}{% endif %}
        </h1>

        {{ form_errors(form) }}
        <table class="client caseowner" cellspacing="0" border="0">
            <tr>
                <th>{{ 'Felelős'|trans }}:</th>
                <td>{% if problem.assignee.firstname is defined %}{{ fname(problem.assignee.firstname, problem.assignee.lastname) }}{% endif %}</td>
            </tr>
        </table>
        <div class="client-sub first-sub">{{ 'probléma'|trans }}</div>
        <div>
            <table class="client" cellspacing="0" border="0">
                <tr>
                    <th>{{ 'Probléma'|trans }}:</th>
                    <td>{{ problem.title }}</td>
                    <th>{{ 'Állapot'|trans }}:</th>
                    <td>{{ pstatus(problem) }}</td>
                </tr>
                <tr>
                    <th>{{ 'Jelleg'|trans }}:</th>
                    <td colspan="3">{{ param(problem.type) }}</td>
                </tr>
            </table>
        </div>

        <table class="client-edit" cellspacing="0" border="0">
            <tr>{#  radio gomb érvényes visszavonásig, vagy dátumig #}
                <th>{{ form_label(form.agreement_expires_at) }}:</th>
                <td colspan="3">
                    {% if operation %}
                        {{ form_errors(form.agreement_expires_at) }}{{ form_widget(form.agreement_expires_at) }}
                    {% else %}
                        <div class="bottompad4">{% if problem.agreementExpiresAt %}{{ problem.agreementExpiresAt|fdate('sd') }}{% else %}{{ 'Lezárásig'|trans }}{% endif %}</div>
                    {% endif %}
                </td>
            </tr>
        </table>

        {% include "JCSGYKAdminBundle:Client:_tags.html.twig" with {item: problem} %}

        <div class="toppad10">
            {% include "JCSGYKAdminBundle:Client:_buttons.html.twig" with {buttons: ['close_dialog', {type:'submit', class:'delete_problem redtext', title:'Probléma törlése', label:'törlés'}] } %}

            <div class="clear"></div>
        </div>
        {{ form_widget(form._token) }}
    </form>
    {% include "JCSGYKAdminBundle:Elements:inflash.html.twig" %}
{% endif %}
