{# Delete Problem #}

{# if all went well, we just need to close the popup #}
{% if success is defined and success %}
    {% include "JCSGYKAdminBundle:Elements:inflash.html.twig" %}
{% elseif events|length %}
    <div class="center">
    <h1 class="client">{{ 'Hiba'|trans }}</h1>
    <br>
    <p>
        {{ 'A probléma nem törölhető, mert %problems% esemény tartozik hozzá.'|trans({'%problems%': events|length}) }}
    </p>
    <br><br>
    <p>
        <button class="greybutton close"> OK </button>
    </p>
</div>
{% else %}
    {% form_theme form 'JCSGYKAdminBundle:Form:fields.html.twig' %}
    <form action="{{ path('problem_delete', {'id': problem.id}) }}" id="problem_delete_form" method="post" {{ form_enctype(form) }}>
        <h1 class="client">
            {{ 'Probléma törlése'|trans }}
        </h1>

        {{ form_errors(form) }}
        <table class="client caseowner" cellspacing="0" border="0">
            <tr>
                <th>{{ 'Felelős'|trans }}:</th>
                <td>{% if problem.assignee.firstname is defined %}{{ fname(problem.assignee.firstname, problem.assignee.lastname) }}{% endif %}</td>
            </tr>
        </table>
        <div class="client-sub first-sub">{{ 'probléma'|trans }}</div>
        <div>
            <table class="client" cellspacing="0" border="0">
                <tr>
                    <th>{{ 'Probléma'|trans }}:</th>
                    <td>{{ problem.title }}</td>
                    <th>{{ 'Állapot'|trans }}:</th>
                    <td>{{ pstatus(problem) }}</td>
                </tr>
                {% set pparam = pgroup(2, true) %}
                {% if pparam %}
                <tr>
                    <th>{{ pparam.name|trans }}:</th>
                    <td colspan="3">{{ param(problem.getParam(pparam.id), pparam.id) }}</td>
                </tr>
                {% endif %}
            </table>
        </div>

        {% include "JCSGYKAdminBundle:Client:_tags.html.twig" with {item: problem} %}

        <div class="problem-open-alert">
            <p>
                {{ 'Biztosan törli a problémát?'| trans }}
            </p>
        </div>

        <div class="toppad10">
            {% include "JCSGYKAdminBundle:Client:_buttons.html.twig" with {buttons: ['close_dialog', {type:'submit', class:'delete_problem redtext', title:'Probléma törlése', label:'törlés'}] } %}

            <div class="clear"></div>
        </div>
        {{ form_widget(form._token) }}
    </form>
    {% include "JCSGYKAdminBundle:Elements:inflash.html.twig" %}
{% endif %}
