<div id="event-id" data-eventid="{{ event.id }}"></div>

{% render(controller('JCSGYKAdminBundle:Menu:event', { 'event': event })) %}

{% if not event.getProblem.isActive %}
<div class="archived bottompad25">Csak olvasható!</div>
{% else %}
<h1 class="client">&nbsp;</h1>
{% endif %}

<table class="client" cellspacing="0" border="0">
    <tr>
        <td>{{ event.eventDate|fdate('sd') }}</td>
    </tr>
</table>

<div class="event-description">
    {{ event.description|nl2br }}
</div>
    <table class="client" cellspacing="0" border="0">
        <tr>
            <th>{{ 'Ügyfélfogadás'|trans }}:</th>
            <td>{{ event.clientVisit|check }}</td>
            <th>{{ 'Ügyfél lemondta'|trans }}:</th>
            <td>{{ event.clientCancel|check }}</td>
        </tr>
    </table>

<div class="client-sub first-sub togglable">{{ 'adatok'|trans }}</div>
<div>
    {% if event.type or event.hasParams() %}
    <table class="client" cellspacing="0" border="0">
        {% if event.type %}
        <tr>
            <th>{{ 'Megnevezés'|trans }}:</th>
            <td>{{ param(event.type) }}</td>
        </tr>
        {% endif %}
        {% for paramGroup in pgroup(3, false, client_type) %}
            {% if event.getParam(paramGroup.id) %}
            <tr {% if paramGroup.control %}class="multirow"{% endif %}>
                <th>{{ paramGroup.name|trans }}:</th>
                <td colspan="3">{{ param(event.getParam(paramGroup.id), paramGroup.id) }} </td>
            </tr>
            {% endif %}
        {% endfor %}
        {% if event.attachment %}
            <tr>
                <th>{{ 'Csatolt dok.'|trans }}:</th>
                <td colspan="3">{{ event.attachment }}</td>
            </tr>
        {% endif %}
    </table>
    {% else %}
        <div class="noinfo">{{ 'Nincsen megjeleníthető adat'|trans }}</div>
    {% endif %}
</div>

{% include "JCSGYKAdminBundle:Client:_tags.html.twig" with {item: event} %}

{% include "JCSGYKAdminBundle:Elements:inflash.html.twig" %}