{# Edit Catering #}
{% form_theme form 'JCSGYKAdminBundle:Form:fields.html.twig' %}
<div class="client-sub">{{ 'étkeztetés'|trans }}</div>
<table class="client-edit" cellspacing="0" border="0">
    <tr>
        <th>{{ form_label(form.club) }}:</th>
        <td>{{ form_errors(form.club) }}{{ form_widget(form.club) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.menu) }}:</th>
        <td>{{ form_errors(form.menu) }}{{ form_widget(form.menu) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.is_single) }}:</th>
        <td>{{ form_errors(form.is_single) }}{{ form_widget(form.is_single) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.income) }}:</th>
        <td>{{ form_errors(form.income) }}{{ form_widget(form.income) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.discount) }}:</th>
        <td>
            <div class="inblock">{{ form_errors(form.discount) }}{{ form_widget(form.discount) }}</div>
            <div class="inblock"> Időtartam:</div>
            <div class="inblock">{{ form_errors(form.discount_from) }}{{ form_widget(form.discount_from) }} - </div>
            <div class="inblock">{{ form_errors(form.discount_to) }}{{ form_widget(form.discount_to) }}</div>
        </td>
    </tr>
</table>
