{# Edit Orders #}
<nav class="calendar-nav clearfix">
    {# Calendar monthly navigation #}
    <a href="#" class="greybutton next" data-direction="next" data-next="3"><span>{{ 'Következő hónap'|trans }} &raquo;</span></a>
    <a href="#" class="greybutton prev" data-direction="prev" data-next="1"><span>&laquo; {{ 'Előző hónap'|trans }}</span></a>
    <h2 class="order-date center"><span class="title-date"></span></h2>
</nav>

<div id="ordering-calendar">
    <div class="items">
        {% for timestamp,month in orders %}
        <div class="month-wrapper" data-date="{{ timestamp|fdate2('Y. F') }}">
            <div class="datepicker clearfix">
                    <ul class="table-header">
                        <li class="week-header"></li>
                        <li>{{ 'Hétfő'|trans }}</li>
                        <li>{{ 'Kedd'|trans }}</li>
                        <li>{{ 'Szerda'|trans }}</li>
                        <li>{{ 'Csütörtök'|trans }}</li>
                        <li>{{ 'Péntek'|trans }}</li>
                        <li>{{ 'Szombat'|trans }}</li>
                        <li>{{ 'Vasárnap'|trans }}</li>
                    </ul>
                    {% for weeknumber,week in month %}
                    <ul class="table-body">
                        <li class="week-header">{{ weeknumber }}. {{ 'hét'|trans }}</li>
                        {% for index,day in week %}
                        <li class="{{ day.class }}{% if day.holiday %} holiday{% endif %}"{% if day.day is not null %} data-date="{{ timestamp|date('Y-m') ~ '-' ~ '%02d'|format(day.day) }}" data-closed="{{ day.closed }}" data-menu="{{ param(day.menu) }}" data-order="{{ day.order }}" data-modifiable="{{ day.modifiable }}"{% endif %}>
                        {% if day.day is not null %}
                            {% spaceless %}
                            <span class="day">{% if day.day == 1 %}{{ timestamp|fdate2('F')|capitalize }} {% endif %}{{ day.day }}.</span>
                            <input type="checkbox" name="order_{{ timestamp|date('Y-m') ~ '-' ~ '%02d'|format(day.day) }}" value="1">
                            <span class="menu">
                                <span class="menu-text {% if day.order != 'cancel' %}hidden{% endif %}">{{ 'Lemondva'|trans }}</span>
                                <select
                                        class="order-menu {% if day.order == 'cancel' or day.order == 'none' %}hidden{% endif %}"
                                        {% if not day.modifiable or day.order == 'cancel' or day.order == 'none' %}disabled{% endif %}
                                        name="order_menu[{{ timestamp|date('Y-m') ~ '-' ~ '%02d'|format(day.day) }}]">

                                    {% for menu in menus %}
                                        <option value="{{ menu }}" {% if menu == day.menu %}selected{% endif %}>{{ param(menu) }}</option>
                                    {% endfor %}
                                </select>
                            </span>
                            {% if day.holiday %}
                            <span class="holiday">{{ day.holiday }}</span>
                            {% endif %}
                            {% endspaceless %}
                        {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>