<div class="smalltext toppad"><strong>{{ data.blocks.client|length }}</strong> Ügyfél</div><br>
<h1 class="client">{{ data['rep.title'] }}</h1>

{% if data.blocks.client|length %}
<table class="reports-table client-report">
    <tr>
        <th>ÜSZ</th>
        <th>Név</th>
        <th>Születési hely</th>
        <th>Születési idő</th>
        <th>Lakcím</th>
        <th>Esetgazda</th>
        <th>TAJ szám</th>
        <th>Státusz</th>
        <th>Étkeztetés státusz</th>
        <th>Jövedelem</th>
        <th>Megáll. kezdete</th>
        <th>Megáll. vége</th>
        <th>Szünet. kezdete</th>
        <th>Szünet. vége</th>
    </tr>
    {% for client in data.blocks.client %}
    <tr class="client-isarchived-{{ client.isArchived }}">
        <td> <a href="{{ path('clients', {'client_id': client.id, 'client_type': client.type|ctmap}) }}">{{ client.caseLabel }}</a> </td>
        <td> {{ fname(client.firstname, client.lastname, client.title) }} </td>
        <td> {{ client.birthPlace }} </td>
        <td> {{ client.birthDate|fdate }} </td>
        <td> {{ faddr(client.country, client.zipCode, client.city, client.street, client.streetType, client.streetNumber, client.flatNumber) }} </td>
        <td>
            {% if client.getCaseAdmin %}
                {{ fname(client.getCaseAdmin.firstname, client.getCaseAdmin.lastname) }}
            {% endif %}
        </td>
        <td> {{ client.socialSecurityNumber }} </td>
        <td> {% if client.isArchived %}archivált{% else %}aktív{% endif %} </td>
        <td> {{ client.catering.status|status_text }} </td>
        <td> {{ client.catering.income|fcurr }} </td>
        <td> {{ client.catering.agreementFrom|fdate('sd') }} </td>
        <td> {{ client.catering.agreementTo|fdate('sd') }} </td>
        <td> {{ client.catering.pausedFrom|fdate('sd') }} </td>
        <td> {{ client.catering.pausedTo|fdate('sd') }} </td>
    </tr>
    {% endfor %}
</table>
{% endif %}