<div class="smalltext toppad"><strong>{{ data.blocks.client|length }}</strong> Ügyfél</div><br>
<h1 class="client">{{ data['rep.title'] }}</h1>

{% if data.blocks.client|length %}
<table class="reports-table client-report">
    <tr>
        <th>ÜSZ</th>
        <th>Név</th>
        <th>Születési hely</th>
        <th>Születési idő</th>
        <th>Lakóhely</th>
        <th>Tartózkodási hely</th>
        <th>Esetgazda</th>
        <th>TAJ szám</th>
        <th>Státusz</th>
        <th>Problémák</th>
    </tr>
    {% for client in data.blocks.client %}
    <tr class="client-isarchived-{{ client.isArchived }}">
        <td> <a href="{{ path('clients', {'client_id': client.id, 'client_type': client.type|ctmap}) }}">{{ client.caseLabel }}</a> </td>
        <td> {{ fname(client.firstname, client.lastname, client.title) }} </td>
        <td> {{ client.birthPlace }} </td>
        <td> {{ client.birthDate|fdate }} </td>
        <td> {{ faddr(client.country, client.zipCode, client.city, client.street, client.streetType, client.streetNumber, client.flatNumber) }} </td>
        <td> {{ faddr(client.locationCountry, client.locationZipCode, client.locationCity, client.locationStreet, client.locationStreetType, client.locationStreetNumber, client.locationFlatNumber) }} </td>
        <td>
            {% if client.getCaseAdmin %}
                {{ fname(client.getCaseAdmin.firstname, client.getCaseAdmin.lastname) }}
            {% endif %}
        </td>
        <td> {{ client.socialSecurityNumber }} </td>
        <td> {% if client.isArchived %}archivált{% else %}aktív{% endif %} </td>
        <td>
            {% if with_problems %}
                {% for problem in client.problems %}
                    {{ problem|problem_summ(true)|nl2br }}
                {% endfor %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}