<h1>{{ data['ca.cim'] }} {{ data['ca.klub'] }}</h1>
<table class="reports-table">
    <tr>
        <th rowspan="2">Név</th>
        <th colspan="31">Naptári napok</th>
        <th rowspan="2">Látogatások<br>száma</th>
    </tr>
    <tr>
        {% for day in data.blocks.months_days %}
        <th class="report-calendar">{{ day }}</th>
        {% endfor %}
    </tr>
    {% for clubvisit in data.blocks.clubvisit %}
    <tr>
        <td><strong>{{ clubvisit.name }}</strong></td>
        {% for day in clubvisit.calendar %}
            <td>{{ day }}</td>
        {% endfor %}
        <td class="center"> {{ clubvisit.days }} </td>
    </tr>
    {% endfor %}
</table>