<h1>{{ data['ca.cim'] }} {{ data['ca.klub'] }}</h1>
<table class="reports-table">
    <tr>
        <th rowspan="2">Név</th>
        <th colspan="31">Naptári napok száma</th>
        <th rowspan="2">Látogatási<br>napok<br>száma</th>
    </tr>
    <tr>
        {% for day in data.blocks.months_days %}
        <th>{{ day }}</th>
        {% endfor %}
    </tr>
    {% for homehelp in data.blocks.homehelp %}
    <tr>
        <td><strong>{{ homehelp.name }}</strong></td>
        {% for day in homehelp.calendar %}
            <td>{{ day }}</td>
        {% endfor %}
        <td class="right"> {{ homehelp.visits }} </td>
    </tr>
    {% endfor %}
</table>