<h1>{{ data['ca.cim'] }} {{ data['ca.klub'] }}</h1>
<table class="reports-table">
    <tr>
        <th rowspan="2">Név</th>
        <th colspan="31">Naptári napok</th>
        <th rowspan="2">Étkezési<br>napok<br>száma</th>
        <th rowspan="2">Étkezési<br>napok<br>munkanap</th>
    </tr>
    <tr>
        {% for day in data.blocks.months_days %}
        <th>{{ day }}</th>
        {% endfor %}
    </tr>
    {% for catering in data.blocks.catering %}
    <tr>
        <td>
            <strong>{{ catering.name }}</strong>
        </td>
        {% for day in catering.calendar %}
        <td>{{ day }}</td>
        {% endfor %}
        <td class="right"> {{ catering.days }} </td>
        <td class="right"> {{ catering.weekdays }} </td>
    </tr>
    {% endfor %}
</table>