{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block content %}
    <br>
    <h1 class="client">{{ 'Kimutatások'|trans }}</h1>
    <div id="reports-menu">
        {% include "JCSGYKAdminBundle:Reports:menu.html.twig" %}
        <div class="clear"></div>
    </div>
    <div id="reports-content" class="leftpad20">
        {% if not report %}
            <div class="info">
                <p>
                    Kérjük válasszon egy kimutatást a bal oldali listából!
                </p>
            </div>
        {% else %}
            <div class="reports-header">
                <form action="{{ path('reports', {'report': report}) }}" id="report_download" novalidate method="post" {{ form_enctype(form) }}>
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}

                    {% include "JCSGYKAdminBundle:Client:_buttons.html.twig" with {buttons: [
                        {type:'submit', class:'show_report', title:'megjelenít', label:'OK'},
                        {type:'submit', name: 'download', class:'save_event greybutton', title:'kimutatás letöltése', label:'letöltés'}
                    ] } %}
                </form>
                <br><br>
            </div>
            <div class="reports">
                {{ result|raw }}
            </div>
        {% endif %}
    </div>

{% endblock %}