{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block content %}
    <br>
    <h1 class="client">{{ 'Kimutatások'|trans }}</h1>
    <div id="reports-menu">
        {% include "JCSGYKAdminBundle:Reports:menu.html.twig" %}
    </div>
    <div id="reports-content" class="leftpad20">
        {% if not report %}
            <div class="info">
                <p>
                    Kérjük válasszon egy kimutatást a bal oldali listából!
                </p>
            </div>
        {% else %}
            <form action="{{ path('reports', {'report': report}) }}" id="report_download" novalidate method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                {{ form_widget(form) }}

                {# some space befor the submit button, but only if we have a form #}
                {% if form.children|length > 1 %}
                    <div class="clear"></div>
                    <br>
                {% endif %}

                {% include "JCSGYKAdminBundle:Client:_buttons.html.twig" with {buttons: [{type:'submit', class:'save_event', title:'kimutatás letöltése', label:'kimutatás letöltése'}] } %}
                <div class="clear"></div>

                <br>
                {% if result[0] is defined %}
{#                    {{ dump(result) }}#}
                {% endif %}
            </form>
        {% endif %}
    </div>

{% endblock %}