{# {% extends 'JCSGYKAdminBundle:Admin:options.html.twig' %} #}

{# {% block cateringcosts_content %} #}

<div class="template-top">
    <div class="floatright right">
        <a href="{{ path('admin_options', {'name': name, 'id': 'new'}) }}" class="button" id="new_costtable"><span>{{ 'új díjtáblázat'|trans }}</span></a>
    </div>
    <h1 class="client">{{ 'Díjtáblázatok'|trans }}</h1>
</div>
<div class="adminblock" id="template-list">
    <div class="rightpad fullheight nocollapse">
        {% for o in options %}
            <a href="{{ path('admin_options', {'name': o.name, 'id': o.id}) }}" class="tpl-list{% if id == o.id %} current{% endif %}">
                {{ o.validFrom|date('Y-m-d') }} &nbsp;&nbsp;&nbsp; {{ o.isActive|check }}
            </a>
        {% endfor %}
    </div>
</div>
<div class="adminblock" id="template-edit">
    <div class="leftpad20 fullheight nocollapse">
        {% if form %}
            {% form_theme form 'JCSGYKAdminBundle:Form:errors.html.twig' %}

            <form action="{{ path('admin_options', {'name': name, 'id': id}) }}" id="template_edit" novalidate method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                {{ form_widget(form.name) }}
                {{ form_widget(form.value) }}

                <table class="client-edit" id="co-admin" cellspacing="0" border="0">
                    <tr>
                        <th>{{ form_label(form.valid_from) }}:</th>
                        <td>{{ form_errors(form.valid_from) }}{{ form_widget(form.valid_from) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.is_active) }}:</th>
                        <td>{{ form_errors(form.is_active) }}{{ form_widget(form.is_active) }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="handsontable"></div>
                        </td>
                    </tr>
                </table>
                <br><br>
                <div class="formbuttons">
                    <button type="reset" href="{{ path('admin_options', {'name': name}) }}" class="cancel greybutton"><span>{{ 'mégse'|trans }}</span></button>
                    <button type="submit" class="button" name="cateringcostssave" value="save"><span>{{ 'mentés'|trans }}</span></button>
                </div>
                {{ form_widget(form._token) }}
            </form>
        {% else %}
            <div class="info">
                <p>
                    {{ 'A díjtáblázatok szerkesztéséhez kattintson a bal oldai listában a megfelelő sorra!'|trans }}
                </p>
                <p>
                    {{ "Új díjtáblázatot a narancsárga 'új díjtáblázat' gombra katttintve hozhat létre."|trans }}
                </p>
            </div>
        {% endif %}
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
var tableDefaultOptions = {{ table_defaults|raw }};
</script>
{# {% endblock %} #}