{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}

<div class="template-top">
    <div class="floatright right">
        <a href="{{ path('admin_clubs', {'id': 'new'}) }}" class="button" id="new_club"><span>{{ 'új klub'|trans }}</span></a>
    </div>
    <h1 class="client">{{ 'Klubok'|trans }}</h1>
</div>
<div class="adminblock" id="template-list">
    <div class="rightpad fullheight nocollapse">
        {% for club in clubs %}
            <a href="{{ path('admin_clubs', {'id': club.id}) }}" class="tpl-list{% if act and act.id == club.id %} current{% endif %}">
                {{ club.name }} &nbsp;&nbsp;&nbsp; {{ club.isActive|check }}
            </a>
        {% endfor %}
    </div>
</div>
<div class="adminblock" id="template-edit">
    <div class="leftpad20 fullheight nocollapse">
        {% if form %}
            {% form_theme form 'JCSGYKAdminBundle:Form:errors.html.twig' %}

            <form action="{{ path('admin_clubs', {'id': id}) }}" id="template_edit" novalidate method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}

                <table class="client-edit" cellspacing="0" border="0">
                    <tr>
                        <th>{{ form_label(form.name) }}:</th>
                        <td>{{ form_errors(form.name) }}{{ form_widget(form.name) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.address) }}:</th>
                        <td>{{ form_errors(form.address) }}{{ form_widget(form.address) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.phone) }}:</th>
                        <td>{{ form_errors(form.phone) }}{{ form_widget(form.phone) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.users) }}:</th>
                        <td>{{ form_errors(form.users) }}{{ form_widget(form.users) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.lunch_types) }}:</th>
                        <td>{{ form_errors(form.lunch_types) }}{{ form_widget(form.lunch_types) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.homehelptype) }}:</th>
                        <td>{{ form_errors(form.homehelptype) }}{{ form_widget(form.homehelptype) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.is_active) }}:</th>
                        <td>{{ form_errors(form.is_active) }}{{ form_widget(form.is_active) }}</td>
                    </tr>
                </table>
                <br><br>
                <div class="formbuttons">
                    <button type="reset" href="{{ path('admin_clubs') }}" class="cancel greybutton"><span>{{ 'mégse'|trans }}</span></button>
                    <button type="submit" class="button" name="clubsave" value="save"><span>{{ 'mentés'|trans }}</span></button>
                </div>
                <div class="clear"></div>
                <br>

                {% if act %}
                    {% include "JCSGYKAdminBundle:Client:_tags.html.twig" with {item: act, notoggle:true} %}
                {% endif %}

                {{ form_widget(form._token) }}
            </form>
{#            <div class="info">
                <p>
                </p>
            </div>#}
        {% else %}
            <div class="info">
                <p>
                    {{ 'A klubok  szerkesztéséhez kattintson a bal oldai listában a megfelelő sorra!'|trans }}
                </p>
                <p>
                    {{ "Új klubot a narancsárga 'új klub' gombra katttintve hozhat létre."|trans }}
                </p>
            </div>
        {% endif %}
    </div>
</div>
<div class="clear"></div>
{% endblock %}