{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}
    <h1 class="client">{{ 'Gondozás rögzítése'|trans }}</h1>

{#    {% include "JCSGYKAdminBundle:Admin:ct_tabs.html.twig" %}#}

    {% form_theme filter_form 'JCSGYKAdminBundle:Form:errors.html.twig' %}
    <form id="homehelpfilter" class="homehelpfilter editform" action="{{ path('admin_home_help') }}" method="GET" novalidate {{ form_enctype(filter_form) }}>
        {{ form_errors(filter_form) }}

        <div class="hh-header">
        {{ form_errors(filter_form.social_worker) }}
        {{ form_label(filter_form.social_worker) }}:
        {{ form_widget(filter_form.social_worker) }}
        {{ form_widget(filter_form.month) }}
        {{ form_widget(filter_form.filter_button) }}
        </div>
    </form>

    <div id="handsontable" class="homehelp-table"></div>
    <div class="hh-legend smalltext">
        M - gyógymasszázs, T - gyógytorna
    </div>
    {{ form_start(form, {"attr": {"id": "homehelpform", "class": "homehelpform editform"}}) }}

        {{ form_widget(form.value) }}

        <div class="formbuttons">
            <button data-url="{{ path('admin_home_help') }}" type="reset" class="cancel greybutton"><span>{{ 'mégse'|trans }}</span></button>
            <button type="submit" class="usersave button" name="usersave" value="save"><span>{{ 'mentés'|trans }}</span></button>
        </div>

    {{ form_end(form) }}
    <script type="text/javascript">
        var tableDefaultOptions = {{ table_defaults|raw }};
        var hh_weekends = '{{ hh_weekends|raw }}';
    </script>
{% endblock %}