{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}
    <div class="homehelp-admin-box">
        <h1 class="client">
            {% if type == 0 %}
                {{ 'Gondozás rögzítése'|trans }}
            {% else %}
                {{ 'Látogatás rögzítése'|trans }}
            {% endif %}
        </h1>

        {#    {% include "JCSGYKAdminBundle:Admin:ct_tabs.html.twig" %}#}

        {% form_theme filter_form 'JCSGYKAdminBundle:Form:errors.html.twig' %}
        {{ form_start(filter_form, {"attr": {"id": "homehelpfilter", "class": "homehelpfilter editform" }}) }}
            {{ form_errors(filter_form) }}

            <div class="floatright">
                {% if not closed %}
                    <button data-href="{{ path('admin_addclient') }}" type="button" class="add-client-dialog greybutton">
                        <span>{{ 'ügyfelek módosítása'|trans }}</span></button>
                {% endif %}
                {#<a href="{{ path('homehelp_download', {"social_worker": social_worker, "month": month}) }}" class="download-homehelp greybutton">#}
                    {#<span>{{ 'letöltés'|trans }}</span>#}
                {#</a>#}
            </div>
            <div class="hh-header">
                {% if type == 0 %}
                    {{ form_errors(filter_form.social_worker) }}
                    {{ form_label(filter_form.social_worker) }}:
                    {{ form_widget(filter_form.social_worker) }}
                {% else %}
                    {{ form_errors(filter_form.club) }}
                    {{ form_label(filter_form.club) }}:
                    {{ form_widget(filter_form.club) }}
                {% endif %}
                {{ form_widget(filter_form.month) }}
                {% if closed %}
                    <span class="smalltext red leftpad">
                        Lezárt (kiszámlázott) hónap, nem módosítható!
                    </span>
                {% endif %}
            </div>
        {{ form_end(filter_form) }}

        <div id="handsontable" class="homehelp-table"></div>
        {{ form_start(form, {"attr": {"id": "homehelpform", "class": "homehelpform" }}) }}

            {{ form_widget(form.value) }}

            {%  if not closed %}
                <div class="formbuttons floatright">
                    <button type="reset" class="cancel greybutton">
                        <span>{{ 'mégse'|trans }}</span></button>
                    <button type="submit" class="usersave button" name="usersave" value="save"><span>{{ 'mentés'|trans }}</span>
                    </button>
                </div>
            {% endif %}
            <div class="hh-legend smalltext floatleft">
                M - gyógymasszázs, T - gyógytorna
            </div>

        {{ form_end(form) }}
        <script type="text/javascript">
            var tableDefaultOptions = {{ table_defaults|raw }};
            var hh_weekends = '{{ hh_weekends|raw }}';
        </script>
    </div>
    {% include "JCSGYKAdminBundle:Dialog:container.html.twig" %}
{% endblock %}