{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}
<div class="adminblock parameter-groups">
    <div class="rightpad fullheight nocollapse">
        <h1 class="client">{{ 'Paraméter csoportok'|trans }}</h1>
        <ul>
        {% for ct_id, ct in client_types %}
            <div>{{ ct|trans }}</div>
            {% for id, group in types %}
                {% set groupid = ct_id ~ '-' ~ id %}
                <li data-groupid="{{ groupid }}" {% if act == groupid %}class="current"{% endif %}>{{ group|trans }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
</div>
<div class="adminblock parameter-lists">
    <div class="leftpad20 fullheight nocollapse">
        <h1>&nbsp;</h1>
        {% for ct_id, ct in client_types %}
            {% for id, group in types %}
                {% set groupid = ct_id ~ '-' ~ id %}
                <div class="paramlist" id="paramlist-{{ groupid }}">
                    <form action="{{ path('admin_paramgroups') }}" method="POST" name="paramform-{{ id }}" id="paramform-{{ id }}" class="paramform">
                        <div class="paramcontainer">
                            <div class="param-headers">
                                {{ 'aktív'|trans }}
                                {{ 'kötelező'|trans }}
                                {{ 'multi'|trans }}
                            </div>
                            {% for param in groups if id == param.type and ct_id == param.clientType %}
                            <div class="param">
                                <input type="hidden" name="parameter[{{ loop.index }}][id]" value="{{ param.id }}">
                                <input class="hiddenpos" type="hidden" name="parameter[{{ loop.index }}][position]" value="{{ param.position }}">
                                <input type="hidden" name="parameter[{{ loop.index }}][type]" value="{{ id }}">
                                <span class="pos"> </span>
                                <input type="text" value="{{ param.name }}" name="parameter[{{ loop.index }}][name]">
                                <input type="checkbox" {% if param.isActive %}checked="checked"{% endif %} name="parameter[{{ loop.index }}][isActive]" value="1">
                                <input type="checkbox" {% if param.required %}checked="checked"{% endif %} name="parameter[{{ loop.index }}][required]" value="1">
                                <input type="checkbox" {% if param.control %}checked="checked"{% endif %} name="parameter[{{ loop.index }}][control]" value="1">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="center toppad10">
                            <button class="new-param button" type="button"><span>{{ 'új csoport hozzáadása'|trans }}</span></button>
                        </div>
                        <input type="hidden" name="group" value="{{ id }}">
                        <input type="hidden" name="clientType" value="{{ ct_id }}">
                        <br><br>
                        <div class="formbuttons">
                            <button type="reset" class="cancel greybutton"><span>{{ 'mégse'|trans }}</span></button>
                            <button type="submit" class="paramsave button" name="paramsave" value="save"><span>{{ 'mentés'|trans }}</span></button>
                        </div>
                    </form>
                </div>
            {% endfor %}
        {% endfor %}
        <div id="newparam-template">
            <div class="param newparam">
                <input type="hidden" name="parameter[%pos%][position]" value="%pos%">
                <input type="hidden" name="parameter[%pos%][type]" value="%grp%">
                <input type="hidden" name="parameter[%pos%][clientType]" value="%ct%">
                <span class="pos"> </span>
                <input type="text" value="" name="parameter[%pos%][name]">
                <input type="checkbox" checked="checked" name="parameter[%pos%][isActive]" value="1">
                <input type="checkbox" name="parameter[%pos%][required]" value="1">
                <input type="checkbox" name="parameter[%pos%][control]" value="1">
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}