{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}
<div class="adminblock" id="parameter-groups">
    <div class="rightpad fullheight nocollapse">
        <h1 class="client">{{ 'Paraméterek'|trans }}</h1>
        <ul>
        {% for id, group in groups %}
            <li data-groupid="{{ id }}" {% if act == id %}class="current"{% endif %}>{{ group|trans }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
<div class="adminblock" id="parameter-lists">
    <div class="leftpad20 fullheight nocollapse">
        <h1>&nbsp;</h1>
        {% for id, group in groups %}
            <div class="paramlist" id="paramlist-{{ id }}">
                <form action="{{ path('admin_params') }}" method="POST" name="paramform-{{ id }}" id="paramform-{{ id }}" class="paramform">
                    <div class="paramcontainer">
                        {% for param in params if id == param.group %}
                        <div class="param">
                            <input type="hidden" name="parameter[{{ loop.index }}][id]" value="{{ param.id }}">
                            <input class="hiddenpos" type="hidden" name="parameter[{{ loop.index }}][position]" value="{{ param.position }}">
                            <input type="hidden" name="parameter[{{ loop.index }}][group]" value="{{ id }}">
                            <span class="pos"> </span>
                            <input type="text" value="{{ param.name }}" name="parameter[{{ loop.index }}][name]">
                            <input type="checkbox" {% if param.isActive %}checked="checked"{% endif %} name="parameter[{{ loop.index }}][isActive]" value="1">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="center toppad10">
                        <button class="new-param button" type="button"><span>{{ 'új paraméter hozzáadása'|trans }}</span></button>
                    </div>
                    <input type="hidden" name="group" value="{{ id }}">
                    <br><br>
                    <div class="formbuttons">
                        <button type="reset" class="cancel greybutton"><span>{{ 'mégse'|trans }}</span></button>
                        <button type="submit" class="paramsave button" name="paramsave" value="save"><span>{{ 'mentés'|trans }}</span></button>
                    </div>
                </form>
            </div>
        {% endfor %}
        <div id="newparam-template">
            <div class="param newparam">
                <input type="hidden" name="parameter[%pos%][position]" value="%pos%">
                <input type="hidden" name="parameter[%pos%][group]" value="%grp%">
                <span class="pos"> </span>
                <input type="text" value="" name="parameter[%pos%][name]">
                <input type="checkbox" checked="checked" name="parameter[%pos%][isActive]" value="1">
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}