{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block title %}Családsegítő Admin{% endblock %}

{% block content %}
<div class="adminblock" id="parameter-groups">
    <div class="rightpad fullheight nocollapse">
        <h1>{{ 'Paraméterek'|trans }}</h1>
        <ul>
        {% for id, group in groups %}
            <li data-groupid="{{ id }}">{{ group|trans }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
<div class="adminblock" id="parameter-lists">
    <div class="leftpad20 fullheight nocollapse">
        <h1>&nbsp;</h1>
        {% for id, group in groups %}
            <div class="paramlist" id="paramlist-{{ id }}">
                <form action="" method="POST" name="paramform-{{ id }}" id="paramform-{{ id }}">
                    {% for param in params if id == param.group %}
                    <div class="param">
                        <input type="hidden" name="parameter[{{ loop.index }}][id]" value="{{ param.id }}">
                        <input type="hidden" name="parameter[{{ loop.index }}][position]" value="{{ param.position }}">
                        <input type="hidden" name="parameter[{{ loop.index }}][group]" value="{{ id }}">
                        <span class="pos">- {{ param.position }} - </span>
                        <input type="text" value="{{ param.name }}" name="parameter[{{ loop.index }}][name]">
                        <input type="checkbox" checked="{% if param.isActive %}checked{% endif %}" name="parameter[{{ loop.index }}][isActive]" value="1">
                    </div>
                    {% endfor %}
                    <br>
                    <div class="formbuttons">
                        <button type="reset" class="cancel button">{{ 'mégse'|trans }}</button>
                        <button type="submit" class="paramsave button" name="paramsave" value="save">{{ 'mentés'|trans }}</button>
                    </div>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
<div class="clear"></div>
{% endblock %}