{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}

<div class="template-top">
    <div class="floatright right">
        <a href="{{ path('admin_providers', {'id': 'new'}) }}" class="button" id="new_template"><span>{{ 'új szolgáltató'|trans }}</span></a>
    </div>
    <h1 class="client">{{ 'Szolgáltatók'|trans }}</h1>
</div>
<div class="adminblock" id="template-list">
    <div class="rightpad fullheight nocollapse">
        {% for pro in providers %}
            <a href="{{ path('admin_providers', {'id': pro.id}) }}" class="tpl-list{% if act and act.id == pro.id %} current{% endif %}">
                {{ pro.name }} &nbsp;&nbsp;&nbsp; {{ pro.isActive|check }}
            </a>
        {% endfor %}
    </div>
</div>
<div class="adminblock" id="template-edit">
    <div class="leftpad20 fullheight nocollapse">
        {% if form %}
            {% form_theme form 'JCSGYKAdminBundle:Form:fields.html.twig' %}

            <form action="{{ path('admin_providers', {'id': id}) }}" id="provider_edit" novalidate method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}

                <table class="client-edit" cellspacing="0" border="0">
                    <tr>
                        <th>{{ form_label(form.name) }}:</th>
                        <td>{{ form_errors(form.name) }}{{ form_widget(form.name) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.template_key) }}:</th>
                        <td>{{ form_errors(form.template_key) }}{{ form_widget(form.template_key) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.is_active) }}:</th>
                        <td>{{ form_errors(form.is_active) }}{{ form_widget(form.is_active) }}</td>
                    </tr>
                </table>
                <br><br>
                <div class="formbuttons">
                    <button type="reset" href="{{ path('admin_providers') }}" class="cancel greybutton"><span>{{ 'mégse'|trans }}</span></button>
                    <button type="submit" class="providersave button" name="providersave" value="save"><span>{{ 'mentés'|trans }}</span></button>
                </div>
                {{ form_widget(form._token) }}
            </form>
        {% else %}
            <div class="info">
                <p>
                    {{ 'A szolgáltatók szerkesztéséhez kattintson a bal oldai listában a megfelelő sorra!'|trans }}
                </p>
                <p>
                    {{ "Új szolgáltatót a narancsárga 'új szolgáltató' gombra katttintve hozhat létre."|trans }}
                </p>
            </div>
        {% endif %}
    </div>
</div>
<div class="clear"></div>
{% endblock %}