{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block title %}Családsegítő Admin{% endblock %}

{% block content %}

<div class="adminblock template-top">
    <div class="button-row toppad10">
        <a href="{{ path('admin_templates', {'id': 'new'}) }}" class="button" id="new_template"><span>{{ 'új nyomtatvány'|trans }}</span></a>
    </div>
    <h1>{{ 'Nyomtatványok'|trans }}</h1>
</div>
<div class="clear"></div>
<div class="adminblock" id="template-list">
    <div class="rightpad fullheight nocollapse">
        {% for tpl in templates %}
            <a href="{{ path('admin_templates', {'id': tpl.id}) }}" class="tpl-list{% if act and act.id == tpl.id %} current{% endif %}">
                {{ tpl.name }} &nbsp;&nbsp;&nbsp; {{ tpl.isActive|check }}
            </a>
        {% endfor %}
    </div>
</div>
<div class="adminblock" id="template-edit">
    <div class="leftpad20 fullheight nocollapse">
        {% if form %}
            {% form_theme form 'JCSGYKAdminBundle:Form:fields.html.twig' %}

            <form action="{{ path('admin_templates', {'id': id}) }}" id="template_edit" novalidate method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}

                <table class="client-edit" cellspacing="0" border="0">
                    <tr>
                        <th>{{ form_label(form.name) }}:</th>
                        <td>{{ form_errors(form.name) }}{{ form_widget(form.name) }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Fájl'|trans }}:</th>
                        <td><div class="bottompad4"><a href="{{ path('admin_templates_download', { 'id': act.id }) }}">{{ act.originalName }}</a></div></td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.file) }}:</th>
                        <td>{{ form_errors(form.file) }}{{ form_widget(form.file) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.is_active) }}:</th>
                        <td>{{ form_errors(form.is_active) }}{{ form_widget(form.is_active) }}</td>
                    </tr>
                </table>
                <br><br>
                <div class="formbuttons">
                    <button type="reset" href="{{ path('admin_templates') }}" class="cancel greybutton"><span>{{ 'mégse'|trans }}</span></button>
                    <button type="submit" class="etmplatesave button" name="templatesave" value="save"><span>{{ 'mentés'|trans }}</span></button>
                </div>
                {{ form_widget(form._token) }}
            </form>
        {% else %}
            <div class="info">
                <p>
                    {{ 'A nyomtatványok szerkesztéséhez kattintson a bal oldai listában a megfelelő sorra!'|trans }}
                </p>
                <p>
                    {{ "Új nyomtatványt a narancsárga 'új nyomtatvány' gombra katttintve hozhat létre."|trans }}
                </p>
            </div>
        {% endif %}
    </div>
</div>
<div class="clear"></div>
{% endblock %}