{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block content %}

    <div class="acreate">
        <form method="post" action="{{ path('admin_update') }}">
            <h1>{{ 'Rendszerfrissítés'|trans }}</h1>
            <br>
            <button type="submit" name="update" value="1" onclick="return confirm('{{ 'Biztos benne?'|trans }}');">{{ 'Frissítés'|trans }}</button>
        </form>
    {% if result %}	
        {% for re in result %}
            <br>
            <pre class="update-output">
&gt; <strong>{{ re.ex }}</strong><br>
{{ re.return_val|raw }}<br>
{{ re.output|raw }}
            </pre>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}