{% extends 'JCSGYKAdminBundle:Settings:index.html.twig' %}

{% block settings_content %}

    <div class="acreate">
{#        <div class="adminblock300">#}
            <form method="post" class="editform" action="{{ path('admin_update') }}">
                <h1 class="client">{{ 'Rendszerfrissítés'|trans }}</h1>
                <br>
                <div><input type="checkbox" name="migrate" id="check_migrate"><label for="check_migrate">run migrations</label></div>
                <button type="submit" class="button" name="update" value="1" onclick="return confirm('{{ 'Biztos benne?'|trans }}');">{{ 'Frissítés'|trans }}</button>
            </form>
{#        </div>#}
{#
        <div class="adminblock300">
            <form method="post" class="editform" action="{{ path('admin_update') }}">
                <h1 class="client">{{ 'Composer update'|trans }}</h1>
                <br>
                <div>&nbsp;</div>
                <button type="submit" class="button" name="composer" value="1" onclick="return confirm('{{ 'Biztos benne?'|trans }}');">{{ 'Frissítés'|trans }}</button>
            </form>
        </div>#}

{#        <div class="clear"></div>#}
    {% if result %}
        {% for re in result %}
            <br>
            <pre class="update-output">
&gt; <strong>{{ re.ex }}</strong><br>
{{ re.return_val|raw }}<br>
{{ re.output|raw }}
            </pre>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}