{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block title %}Családsegítő Admin{% endblock %}

{% block content %}
<div class="adminblock" id="userlist">
    <div class="rightpad fullheight nocollapse">
        <div class="button-row toppad10">
            <a href="{{ path('admin_users', {'id': 'new'}) }}" class="button" id="new_user"><span>{{ 'új felhasználó'|trans }}</span></a>
        </div>
        <h1>{{ 'Felhasználók'|trans }}</h1>

        <table class="search-results tablesorter" cellspacing=0 border=0>
            <thead><tr>
                <th>{{ 'név'|trans }}</th>
                <th>{{ 'felhasználói név'|trans }}</th>
        {#        <th>{{ 'email'|trans }}</th> #}
                <th>{{ 'utolsó belépés'|trans }}</th>
                <th>{{ 'aktív'|trans }}</th>
            </tr></thead>
            <tbody>
            {% for user in users %}
                <tr data-user-edit="{{ path('admin_users', {'id': user.id}) }}" tabindex="{{ loop.index + 99 }}"
                    {% if id and id == user.id %} class="current cursor"{% endif %}>
                    <td>{{ fname(user.firstname, user.lastname) }}</td>
                    <td>{{ user.username }}</td>
        {#            <td><a href="mailto:{{ fname(user.firstname, user.lastname) }} &lt;{{ user.email }}&gt;">{{ user.email }}</a></td> #}
                    <td>{% if user.lastLogin %}{{ user.lastLogin|fdate('sdt') }}{% endif %}</td>
                    <td>{{ user.enabled|check }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="adminblock" id="useredit">
    <div class="leftpad20 rightpad fullheight nocollapse">
        <div class="usercontent">
        {% if form %}
            {% include "JCSGYKAdminBundle:Admin:useredit.html.twig" %}
        {% else %}
        <br>
        <div class="info">
            <p>
                {{ 'A felhasználók szerkesztéséhez kattintson a bal oldai listában a megfelelő sorra!'|trans }}
            </p>
            <p>
                {{ "Új felhasználót a narancsárga 'Új felhasználó' gombra katttintve hozhat létre."|trans }}
            </p>
        </div>
        {% endif %}
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}