<h1>{{ 'Felhasználó szerkesztése'|trans }}</h1>

<form id="editform" class="editform" action="{{ path('admin_users') }}" method="post" novalidate {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.id) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}

    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.roles) }}

    {{ form_rest(form) }}
    <input type="hidden" name="id" value="{{ form.vars.value.id }}">
    <div class="clear"></div>
    <div class="formbuttons">
        <button type="reset" class="cancel">{{ 'mégse'|trans }}</button>
        <button type="submit" class="usersave" name="usersave">{{ 'Mentés'|trans }}</button>
    </div>
</form>