<h1 class="center">{{ 'Érdeklődés statisztika'|trans }}</h1>
<br>

<table class="stat-legend"><tbody>
    {% for inq in types %}
    <tr class="jqplot-table-legend">
        <td class="jqplot-table-legend jqplot-table-legend-swatch" style="text-align: center; padding-top: 0px;">
            <div class="jqplot-table-legend-swatch-outline">
                <div class="jqplot-table-legend-swatch" style="background-color: {{ colors[types|length - loop.index] }}; border-color: {{ colors[types|length - loop.index] }};"></div>
            </div>
        </td>
        <td class="jqplot-table-legend jqplot-table-legend-label" style="padding-top: 0px;">{{ inq }}</td>
    </tr>
    {% endfor %}
</tbody></table>
<div class="clear"></div>

<script>
    var day_charts = {{ detailed_json|raw }};
    var month_charts = {{ month_json|raw }};
</script>

{% for chartdiv in detailed %}
    <div id="{{ chartdiv.selector }}" class="toppad10" style="height:140px;width:320px; "></div>
{% endfor %}
<div id="monthchart" style="height:200px;width:320px; "class="toppad10"></div>
