{% extends 'JCSGYKAdminBundle::layout.html.twig' %}

{% block content %}

{% stylesheets output='css/dbimport.css' '@JCSGYKDbimportBundle/Resources/public/css/dbimport.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<h1>DB Import </h1>
<br>
<br>
<form action="" method="POST" name="start">
    <dl class="import_controls">

        <dt>1) Users</dt>
        <dd>
            <button type="submit" name="import" value="user10" onclick="return confirm('{{ 'Biztos benne?'|trans() }}')">Import 10 &nbsp;</button>
            &nbsp;&nbsp;
            <button type="submit" name="import" value="user" onclick="return confirm('{{ 'Biztos benne?'|trans() }}')"> &nbsp; Import All &nbsp; </button>
            {% if results.user is defined %}
                Succesfully imported {{ results.user }}
            {% endif %}
        </dd>

        <dt>2) Clients</dt>
        <dd>
            <button type="submit" name="import" value="client100" onclick="return confirm('{{ 'Biztos benne?'|trans() }}')">Import 100</button>
            &nbsp;&nbsp;
            <button type="submit" name="import" value="client" onclick="return confirm('{{ 'Biztos benne?'|trans() }}')"> &nbsp; Import All &nbsp; </button>
            {% if results.client is defined %}
                Succesfully imported {{ results.client }}
            {% endif %}
        </dd>

        <dt>3) Problems</dt>
        <dd>
            <button type="submit" name="import" value="problem100" onclick="return confirm('{{ 'Biztos benne?'|trans() }}')">Import 100</button>
            &nbsp;&nbsp;
            <button type="submit" name="import" value="problem" onclick="return confirm('{{ 'Biztos benne?'|trans() }}')"> &nbsp; Import All &nbsp; </button>
            {% if results.problem is defined %}
                Succesfully imported {{ results.problem }}
            {% endif %}
        </dd>

        <dt>4) Events</dt>
        <dd>
            <button type="submit" name="import" value="event100" onclick="return confirm('{{ 'Biztos benne?'|trans() }}')">Import 100</button>
            &nbsp;&nbsp;
            <button type="submit" name="import" value="event" onclick="return confirm('{{ 'Biztos benne?'|trans() }}')"> &nbsp; Import All &nbsp; </button>
            {% if results.events is defined %}
                Succesfully imported {{ results.events }}
            {% endif %}
        </dd>

        <dt>5) Case admins</dt>
        <dd>
            <button type="submit" name="import" value="caseadmin100" onclick="return confirm('{{ 'Biztos benne?'|trans() }}')">Import 100</button>
            &nbsp;&nbsp;
            <button type="submit" name="import" value="caseadmin" onclick="return confirm('{{ 'Biztos benne?'|trans() }}')"> &nbsp; Import All &nbsp; </button>
            {% if results.caseadmin is defined %}
                Succesfully imported {{ results.caseadmin }}
            {% endif %}
        </dd>

    </dl>
    <div class="clear"></div>
    <br>
<!--    <button type="submit" name="import" value="all" onclick="return confirm('{{ 'Biztos benne?'|trans() }}')">Import All Tables</button> -->
</form>
{% endblock %}
