<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Családsegítő Admin{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
         {% stylesheets 
            '@JCSGYKAdminBundle/Resources/public/css/reset.css'
            '@JCSGYKAdminBundle/Resources/public/css/style.css'            
            '@JCSGYKAdminBundle/Resources/public/css/login.css' 
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div id="leftcol">
            <div class="logo">
                <a href="{{ path('home') }}">{{ 'Családsegítő admin'|trans() }}</a>
            </div>
            {% render "JCSGYKAdminBundle:Menu:main" %}
        </div>
        <div id="rightcol">
            <div id="header">
                <div class="quicksearch">
                    <form action="" method="get" name="quick_search">
                        <input type="text" name="q" value="" placeholder="{{ 'gyorskereső'|trans() }}">
                        <button type="submit" class="searchbutton"><span class="searchicon"></span></button>
                    </form>
                </div>
                <div class="headright">
                    {% if app.user %}
                        {{ 'Bejelentkezve:'|trans() }} <span class="username">{{ app.user.username }}</span>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <div id="content">
            {% block content %}
            {% endblock %}
            </div>
        </div>            
        {% block javascripts %}
            <script src="{{ asset('/bundles/livephp/js/livephp.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
